wp-includes
wp-admin
nginx
docker
db-data
.agent
.vscode
.env
docker-compose.yml
composer.json
composer.lock
Dockerfile
xdebug.log

wp-content/themes/sahifa
wp-content/themes/echorouk-fixed
wp-content/themes/echorouk-bootstrap-5.3
wp-content/themes/echorok-claude
wp-content/themes/bootscore
wp-content/plugins/object-cache-pro
wp-content/plugins/redux-framework
wp-content/object-cache.php
wp-content/uploads
wp-content/themes/AGENTS.md
.htaccess
wp-config-docker.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
readme.html
license.txt
compose-dev.yaml
